{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            At Darbell Stone Masonry, our mission is to provide exceptional quality stone masonry services that exceed
            the expectations of our clients. We strive to honor the ancient tradition of stone masonry by incorporating
            modern techniques and tools to create enduring structures that stand the test of time. We are committed to
            using only the finest materials and ensuring the utmost attention to detail in every project we undertake.
            Our goal is to build lasting relationships with our clients and to earn their trust by delivering
            unparalleled craftsmanship and unparalleled customer service. At Darbell Stone Masonry, we are dedicated to
            preserving the art and craft of stone masonry, and to creating beautiful, functional, and enduring
            structures that inspire and delight.
        </p>
        <h1>Our Story...</h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
            justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
            nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
            laoreet. Quisque rutrum. Aenean imperdiet. Etiam</p>
        <br>
        <h1>Outside Stone...</h1>
        <img src="static/darbell_rock.jpg">
        <p>Darbell Stone Masonry happily sponsoring the Rock St. Patricks Training Jerseys!</p>
    </div>
</div>
</body>
{% endblock %}