{% extends "index.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="container">

  <h1>Contact Us!</h1>

  <form action="https://formsubmit.co/7466a67ffdae0c247dba404a414e5f54" method="POST"> 

    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your name.." required> <br>

    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Your email.." required> <br> <br>

    <label for="subject">Subject</label>
    <textarea name="message" placeholder="Write something.." style="height:200px" required> </textarea>

    <input type="submit" value="Submit">

  </form>
</div>

{% endblock %}