{% extends "index.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container my-4">
    <div class="grid m-0 p-0">
        <div class="item"><a href="#"><img class="img-fluid" src="static/image10.jpg"></a></div>
        <div class="item">
            <h3>A little bit about.. <br>
                <br>
                At Darbell Stone Masonry, our mission is to provide exceptional quality stone masonry services that
                exceed
                the expectations of our clients. We strive to honor the ancient tradition of stone masonry by
                incorporating
                modern techniques and tools to create enduring structures that stand the test of time. We are
                committed to
                using only the finest materials and ensuring the utmost attention to detail in every project we
                undertake.
                Our goal is to build lasting relationships with our clients and to earn their trust by delivering
                unparalleled craftsmanship and unparalleled customer service. At Darbell Stone Masonry, we are
                dedicated to
                preserving the art and craft of stone masonry, and to creating beautiful, functional, and enduring
                structures that inspire and delight. <br> <br>
                <button>
                    button
                </button>
                <button>
                    button
                </button></h3>
                
        </div>
    </div>
</div>
</div>

<section class="section rent">
    <div class="title">
        <h1>What services do we offer?</h1>
        <p>
            All work displayed completed by Darbell Stone Masonry!
        </p>
    </div>

    <div class="rent-center container">
        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="./static/image1.jpg" alt="" />
                </div>
                <div class="pos">
                    <span>FEATURED</span>
                </div>
            </div>
            <div class="bottom">
                <p>[Service Name]</p>
                <div>
                    <span>[Brief description]</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="./static/image2.jpg" alt="" />
                </div>
                <div class="pos">
                    <span>FEATURED</span>
                </div>
            </div>
            <div class="bottom">
                <p>[Service Name]</p>
                <div>
                    <span>[Brief description]</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="./static/image3.jpg" alt="" />
                </div>
                <div class="pos">
                    <span>FEATURED</span>
                </div>
            </div>
            <div class="bottom">
                <p>[Service Name]</p>
                <div>
                    <span>[Brief description]</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="./static/image4.jpg" alt="" />
                </div>
                <div class="pos">
                    <span>FEATURED</span>
                </div>
            </div>
            <div class="bottom">
                <p>[Service Name]</p>
                <div>
                    <span>[Brief description]</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>
</section>

<!-- Contact -->
<section class="section contact">
    <div class="row">
        <div class="col">
            <h2>Keep in touch!</h2>
            <p>
                Join our email list to get up to date offers and news on avaliable and new work done!
                Adding your email will subscribe you to our monthly newsletter!
            </p>
        </div>
        <div class="col">
            <form action="">
                <div>
                    <input type="email" placeholder="Email Address" />
                    <a href="">Send</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}