{% extends "index.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br>
<div class="images">

    <img onclick="changeimg(this)" src="static/image1.jpg" alt="">
    <img onclick="changeimg(this)" src="static/image2.jpg" alt="">
    <img onclick="changeimg(this)" src="static/image3.jpg" alt="">
    <img onclick="changeimg(this)" src="static/image4.jpg" alt="">
    <img onclick="changeimg(this)" src="static/image5.jpg" alt="">
    <img onclick="changeimg(this)" src="static/image6.jpg" alt="">
    <img onclick="changeimg(this)" src="static/image7.jpg" alt="">
    <img onclick="changeimg(this)" src="static/image8.jpg" alt="">
    <img onclick="changeimg(this)" src="static/image9.jpg" alt="">
    <img onclick="changeimg(this)" src="static/image10.jpg" alt="">

</div>

<div class="pre">
    <a class="close-outline"><ion-icon name="close-outline"></ion-icon></a>
    <img id="p" src="static/image1.jpg" alt="">
</div>

<script type="text/javascript">
    function changeimg(image) {
        var p = document.getElementById("p");
        p.src = image.src;
        p.parentElement.style.display = "block";
    }
</script>
{% endblock %}