@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Color Variables */
:root {
    --grey: #c2c2c2;
    --white: #fff;
    --black: #222;
    --green: #387A3D;
    --blue: #436ed8;
    --gold: #A38A2E;
}

/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    height: 100%;
    background: rgb(34, 74, 37);
    background: linear-gradient(0deg, rgb(32, 71, 36) 9%, rgba(56, 122, 61, 1) 55%);
}

.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.d-flex {
    display: flex;
    align-items: center;
}


/* 
=================
Navigation
=================
*/

.navigation {
    font-family: "Ubuntu";
    position: fixed;
    z-index: 998;
    height: 3rem;
    line-height: 3rem;
    padding-top: 10rem;
    border-radius: 15px;
    color: #fff;
}

.navigation a {
    color: #fff;
    width: 120px;
    height: auto;
}

.navigation .navbar .nav-item {
    font-size: 1.5rem;
}

.navbar {
    background-color: var(--white);
}

.container-fluid img {
    width: 95%;
}

.navbar-toggler {
    color: var(--white);
}

.navbar-toggler-icon {
    color: var(--white);
}

.navbar-collapse {
    color: var(--white);
}

@media (max-width: 996px) {
    .navigation a {
        width: 100px;
        height: auto;
    }
}

@media (max-width: 567px) {
    .navigation a {
        width: 100px;
        height: auto;
    }
}

/* Hero */
.hero img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.header .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: 1;
    text-align: center;
}

.header .content h1 {
    font-family: "Ubuntu";
    font-size: 5rem;
    color: var(--gold);
    margin-bottom: 2rem;
}

.header .content h2 {
    font-family: "Ubuntu";
    font-size: 3rem;
    color: var(--gold);
    margin-bottom: 2rem;
}

.header .search a {
    font-family: "Ubuntu";
    display: inline-block;
    font-size: 2rem;
    padding: 1.5rem 4rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 50px;
}

.header .search a:hover {
    background-color: var(--green);
}

@media (max-width: 996px) {
    .header .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        z-index: 1;
        text-align: center;
    }

    .header .content h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .header .content h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .header .search a {
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
    }
}

@media (max-width: 567px) {
    .header .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        z-index: 1;
        text-align: center;
    }

    .header .content h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .header .content h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .header .search a {
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
    }
}

#cookiePopup {
    font-family: "Ubuntu";
    background-color: var(--white);
    position: fixed;
    padding-left: 20rem;
    padding-right: 20rem;
    margin: auto;
    font-size: 14px;
    z-index: 2;
    text-align: justify;
    align-content: center;
    padding: 2em 1.4em;
    border-radius: 6px;
    transition-delay: 0.2s;
}

#cookiePopup img {
    display: block;
    width: 3.75em;
    transform: translateZ(0);
    position: relative;
    margin: auto;
}

#cookiePopup p {
    text-align: center;
    margin: 1.4em 0;
}

#cookiePopup button {
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    padding: 1rem 1rem;
    display: block;
    width: 20%;
    transform: translateZ(0);
    position: relative;
    margin: auto;
    border-radius: 5px;
}

#cookiePopup a {
    color: #6859fe;
}

.hide {
    visibility: hidden;
    margin: auto;
    bottom: 0;
    left: 20rem;
    right: 20rem;
}

.show {
    visibility: visible;
    left: 20rem;
    right: 20rem;
    bottom: 2em;
}

@media (max-width: 996px) {
    .hide {
        bottom: 2em;
        right: 0;
    }

    .show {
        left: 10rem;
        right: 10rem;
        bottom: 2rem;
    }
}

@media (max-width: 567px) {
    .hide {
        bottom: 2em;
        right: 0;
    }

    .show {
        left: 2rem;
        right: 2rem;
        bottom: 2rem;
    }

    #cookiePopup button {
        width: 40%
    }
}

/* Rent Properties */
.section {
    font-family: "Ubuntu";
    padding-top: 100vh;
    padding-bottom: 5rem;
    background: rgb(34, 74, 37);
    background: linear-gradient(0deg, rgb(32, 71, 36) 9%, rgba(56, 122, 61, 1) 55%);
}

.title {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.title h1 {
    color: var(--white);
    font-weight: 500;
    font-size: 4rem;
    padding-bottom: 10px;
    margin: auto;
}

.title p {
    color: var(--white);
    font-weight: 400;
    font-size: 2rem;
    margin: auto;
    padding: 0.5rem;
}

.title a {
    display: inline-block;
    font-size: 2rem;
    padding: 1.5rem 4rem;
    background-color: var(--black);
    color: white;
    border-radius: 50px;
}

.title a:hover {
    background-color: var(--green);
    color: var(--white);
}


@media (max-width: 768px) {
    .title h1 {
        font-size: 4rem;
    }
}

@media (max-width: 567px) {
    .title h1 {
        font-size: 3rem;
    }

    .title a {
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
    }
}

.grid-layout {
    padding-left: 10rem;
    padding-right: 10rem;
  }

/* Grid Properties */
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper .box {
    border-radius: 5px;
    overflow: hidden;
}

.wrapper .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms ease-in-out;
}

.wrapper .box:hover img {
    transform: scale(1.1);
}

.wrapper .box1 {
    grid-column: 1 / span 2;
    height: 35rem;
}

.wrapper .box2 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.wrapper .box3 {
    grid-column: 1;
    grid-row: 2;
}

.wrapper .box4 {
    grid-column: 2;
    grid-row: 2;
}

@media (max-width: 768px) {

    .grid-layout {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .wrapper .box1 {
        grid-column: 1 / span 3;
        height: 20rem;
    }

    .wrapper .box2 {
        grid-column: 3;
        grid-row: 2;
        height: 20rem;
    }
}

@media (max-width: 567px) {

    .grid-layout {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .wrapper .box {
        height: 15rem;
    }

    .wrapper .box1 {
        grid-column: 1 / span 3;
    }
}

.box {
    border-radius: 5px;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms ease-in-out;
}

.box:hover img {
    transform: scale(1.1);
}

.box {
    border-radius: 15px;
    overflow: hidden;
}

.box img {
    border-radius: 15px;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.box1 {
    grid-column: 1;
    grid-row: 1;
}

.box2 {
    grid-column: 2;
    grid-row: 1;
}

.box3 {
    grid-column: 3;
    grid-row: 1;
}

.box4 {
    grid-column: 1 / span 3;
    grid-row: 2;
}

@media (max-width: 768px) {
    .box img {
        height: 100%;
        object-fit: contain;
        transition: all 500ms ease-in-out;
    }

    .box1 {
        grid-column: 1 / span 3;
        grid-row: 1;
        margin: auto;
    }

    .box2 {
        grid-column: 1 / span 3;
        grid-row: 2;
        margin: auto;
    }

    .box3 {
        grid-column: 1 / span 3;
        grid-row: 3;
        margin: auto;
    }

    .box4 {
        grid-column: 1 / span 3;
        grid-row: 4;
        height: 100%;
    }

}


@media (max-width: 567px) {

    .box img {
        height: 100%;
        object-fit: contain;
        transition: all 500ms ease-in-out;
    }

    .box1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .box2 {
        grid-column: 1 / span 3;
        grid-row: 2;
    }

    .box3 {
        grid-column: 1 / span 3;
        grid-row: 3;
    }

    .box4 {
        grid-column: 1 / span 3;
        grid-row: 4;
        height: 100%;
    }

}

/* Contact */
.contact {
    padding-top: 10px;
    margin: auto;
    width: 100%;
    padding-bottom: 5rem;
    background: rgb(29, 60, 31);
    background: linear-gradient(0deg, rgba(29, 60, 31, 1) 10%, rgba(32, 71, 36, 1) 60%);

}

.contact .row {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: top;
}

.contact .row .col {
    display: flex;
    margin: auto;
}

.flexible-container {
    position: relative;
    padding: 5rem;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
    position: absolute;
    padding: 2rem;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-container {
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
}

.map {
    display: flex;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.about-section {
    font-family: "Ubuntu";
    padding: 5rem;
    background: rgb(34, 74, 37);
    background: linear-gradient(0deg, rgb(32, 71, 36) 9%, rgba(56, 122, 61, 1) 55%);
}

/* Grid Properties */
.about {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.about p {
    color: var(--white);
    font-weight: 400;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.about-title {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.about-title h1 {
    padding-top: 10rem;
    color: var(--white);
    font-weight: 500;
    font-size: 4rem;
    padding-bottom: 10px;
    margin: auto;
}

.about-title p {
    color: var(--white);
    font-weight: 400;
    font-size: 2rem;
    margin: auto;
    padding: 0.5rem;
}

.about-title a {
    display: inline-block;
    font-size: 2rem;
    padding: 1.5rem 4rem;
    background-color: var(--black);
    color: white;
    border-radius: 50px;
}

.about-title a:hover {
    background-color: var(--green);
    color: var(--white);
}

.contact-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.contact-container .inner-container {
    font-family: "Ubuntu";
    padding: 1rem;
    max-width: 90%;
    margin: auto;
    align-content: center;
    text-align: center;
    background: var(--grey);
    overflow: hidden;
    border-radius: 15px;

}

.inner-container {
    font-family: "Ubuntu";
    padding: 1rem;
    max-width: 90%;
    margin: auto;
    align-content: center;
    text-align: center;
    background: rgb(34, 74, 37);
    background: linear-gradient(0deg, rgb(32, 71, 36) 9%, rgba(56, 122, 61, 1) 55%);
    overflow: hidden;
    border-radius: 15px;

}

.inner-container h1 {
    color: var(--black);
}

input[type=text],
select,
textarea {
    font-size: 1.5rem;
    width: 60%;
    /* Full width */
    padding: 6px;
    /* Some padding */
    border: 1px solid var(--black);
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 6px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email],
select,
textarea {
    font-size: 1.5rem;
    width: 60%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid var(--black);
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    align-content: center;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #387A3D;
}

label {
    color: var(--black);
    font-size: 1.5rem;
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    text-align: center;
    padding-top: 1px;
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

@media (max-width: 768px) {

    .contact-container {
        padding-top: 10rem;
        padding-bottom: 5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin: auto;
        max-width: 100%;
        max-height: 100vh;
        object-fit: cover;
    }

    .inner-container {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 90%;
        margin: auto;
        align-content: center;
        text-align: center;
    }

}


@media (max-width: 567px) {

    .contact-container {
        padding-top: 10rem;
        padding-bottom: 5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin: auto;
        max-width: 100%;
        max-height: 100vh;
        object-fit: cover;
    }

    .inner-container {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 90%;
        margin: auto;
        align-content: center;
        text-align: center;
    }
}

.gallery-outter-container {
    padding-top: 15rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: rgb(34, 74, 37);
    background: linear-gradient(0deg, rgb(32, 71, 36) 9%, rgba(56, 122, 61, 1) 55%);
}

.gallery-container {
    width: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 1rem;
    background: var(--white)
}

.gallery-title {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.gallery-title p {
    font-size: 15px;
}

.gallery img {
    width: 100%
}

.booking-container {
    padding-top: 15rem;
    padding-bottom: 15rem;
    margin: auto;
}

.availability-container {
    max-width: 85%;
    max-height: 100%;
    margin: auto;
    align-content: center;
    text-align: center;
}


/* Footer */
.footer {
    padding: 7rem 1rem;
    background-color: var(--grey);
}

footer .row {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    max-width: 99.6rem;
    margin: 0 auto;
}

.footer .col {
    flex-direction: column;
    column-gap: 2px;
    color: var(--black);
    align-items: center;
}

.footer .col:last-child {
    flex-direction: row;
    justify-content: center;
}

.footer .col:last-child span {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    color: var(--black);
}

.footer .col h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.footer .col a {
    color: var(--black);
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 300;
}

.footer .col p {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 300;
}

.footer .col .socials a {
    font-size: 3rem;
}

@media (max-width: 768px) {

    footer .row {
        align-content: center;
        grid-template-columns: 2fr;
        row-gap: 2rem;
    }

    .footer .col {
        flex-direction: column;
        color: var(--black);
        align-items: center;
    }


}

@media (max-width: 567px) {

    footer .row {
        align-content: center;
        grid-template-columns: 2fr;
        row-gap: 2rem;
    }

    .footer .col {
        flex-direction: column;
        color: var(--black);
        align-items: center;
    }

}